$warm-beige: #fff8e1;
$Charcoal: #4f4f4f;
$grayColor: rgba(247, 247, 247, 1);

@import "header";
@import "search";
@import "appLayout";
@import "mediaQuery";
@import "chatList";
@import "chat";
@import "fileMenu";
@import "profile";
@import "userItem";
@import "newGroup";
@import "groups";
@import "addMembersDialog";
@import "notification";
@import "login";
@import "deleteChatMenu";
@import "avatar";
@import "skeleton";
@import "confirmDeleteDialog";
@import "messageComponent";
@import "loaders";

body {
  background-color: $warm-beige;
  color: $Charcoal;
  margin: 0 auto;
  // max-width: 1280px;
}
